<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %> 
</head>
<body>


	<h1>COUNTRY INFORMATION</h1>
	<p id="description">Description of the app</p>

	<div id="search-wrap">
		<div id="request-btn">REQUEST INFORMATION</div> 
		
		<hr />   

		<label for="search-field">ENTER SEARCH QUERY</label>
		<input id="search-field" type="text"></input>

	</div>

	<hr />
	
	<div class="container">

		<table>
			<tbody id="api-table">
				<tr id="api-tr">
					<th>Country</th>
					<th>Population</th>
					<th>Region</th>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>