<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %> 
</head>
<body>

	<div class="container">

		<h1>I CAN SHOW YOU THE WORLD</h1>
		<p id="description">Yes it's true, I can show you the world, shining, shimmering, splendid. Click the button just below to load a list of all the worlds countries, regions, and populations. You can then interact with the search field to narrow down the results.  You can search by country, region, or population. If searching by population, keep in mind that when typing a number, if you add a less-than symbol (<) before the number, you will get a list of all countries that have populations less than or equal to that number. If you add a greater than symbol (>) before the number, well, you get the idea. Once you have narrowed down your search to one result, you will see all of the available data about the country. There's no one to tell us no, or where to go, enjoy the ride.</p>

		<div id="load-wrapper">
			<div id="loader"></div>
		</div>

		<div id="info-wrap">
			<div id="request-btn">REQUEST INFORMATION</div> 

			<hr />   

			<div id="search-wrap">
				<label for="search-field">ENTER SEARCH QUERY</label>
				<input id="search-field" type="text"></input>

				<hr />
			</div>

		</div>



		<div id="load-wrapper">
			<div id="loader"></div>
		</div>

		<table id="api-table">
			<tbody id="api-tbody">
				<tr id="api-tr">
					<th>Country</th>
					<th>Population</th>
					<th>Region</th>
				</tr>
			</tbody>
		</table>

		<div id="final-line-wrap">
			<img id="final-line-img" src=""/>

			<table>
				<tbody>
					<tr>
						<td>Country Name: </td>
						<td><div id="final-line-name"></div></td>
					</tr>
					<tr>
						<td>Capital: </td>
						<td><div id="final-line-capital"></div></td>
					</tr>
					<tr>
						<td>Region: </td>
						<td><div id="final-line-region"></div></td>
					</tr>
					<tr>
						<td>Population: </td>
						<td><div id="final-line-population"></div></td>
					</tr>
					<tr>
						<td>Country Code: </td>
						<td><div id="final-line-country-code"></div></td>
					</tr>
					<!-- <tr> -->
					<!-- <td>Bordering Countries</td> -->
					<!-- <td><div id="final-line-bodering-countries"></div></td> -->
					<!-- </tr> -->
					<!-- <tr> -->
					<!-- <td>Currency Code:</td> -->
					<!-- <td><div id="final-line-currency-code"></div></td> -->
					<!-- </tr> -->
					<!-- <tr> -->
					<!-- <td>Currency Name:</td> -->
					<!-- <td><div id="final-line-currency-name"></div></td> -->
					<!-- </tr> -->
					<!-- <tr> -->
					<!-- <td>Currency Symbol:</td> -->
					<!-- <td><div id="final-line-currency-symbol"></div></td> -->
					<!-- </tr> -->
					<!-- <tr> -->
					<!-- <td>Language:</td> -->
					<!-- <td><div id="final-line-language"></div></td> -->
					<!-- </tr> -->
					<tr>
						<td>Top Level Domain:</td>
						<td><div id="final-line-tld"></div></td>
					</tr>
				</tobdy>
			</table>
		</div>

	</div>

</body>
</html>