<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %> 
</head>
<body>


	<h1>COUNTRY INFORMATION</h1>
	<p id="description">Description of the app</p>

	<div id="search-wrap">
		<div id="request-btn">REQUEST INFORMATION</div> 
		
		<hr />   

		<label for="search-field">ENTER SEARCH QUERY</label>
		<input id="search-field" type="text"></input>

	</div>

	<hr />
	
	<div class="container">

		<table id="api-table">
			<tbody id="api-tbody">
				<tr id="api-tr">
					<th>Country</th>
					<th>Population</th>
					<th>Region</th>
				</tr>
			</tbody>
		</table>

		<div id="final-line-wrap">
		<img id="final-line-img" src=""/>
		
			<table>
				<tbody>
					<tr>
						<td>Country Name:</td>
						<td><div id="final-line-name"></div></td>
					</tr>
					<tr>
						<td>Capital:</td>
						<td><div id="final-line-capital"></div></td>
					</tr>
					<tr>
						<td>Region:</td>
						<td><div id="final-line-region"></div></td>
					</tr>
					<tr>
						<td>Population:</td>
						<td><div id="final-line-population"></div></td>
					</tr>
					<tr>
						<td>Country Code</td>
						<td><div id="final-line-country-code"></div></td>
					</tr>
					<!-- <tr> -->
						<!-- <td>Bordering Countries</td> -->
						<!-- <td><div id="final-line-bodering-countries"></div></td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td>Currency Code:</td> -->
						<!-- <td><div id="final-line-currency-code"></div></td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td>Currency Name:</td> -->
						<!-- <td><div id="final-line-currency-name"></div></td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td>Currency Symbol:</td> -->
						<!-- <td><div id="final-line-currency-symbol"></div></td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <td>Language:</td> -->
						<!-- <td><div id="final-line-language"></div></td> -->
					<!-- </tr> -->
					<tr>
						<td>Top Level Domain:</td>
						<td><div id="final-line-tld"></div></td>
					</tr>
				</tobdy>
			</table>
		</div>

	</div>

</body>
</html>